* {
  padding: 0;
  margin: 0;
}

:root {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  --sidebar-bg: #0f172a;
  --header-bg: #f1f5f9;
  --header-text: #0f172a;
  --logo: #f43f5e;
  --sidebar-text: #e2e8f0;
  --header-height: 100px;
  --icon-font-size: 1.8rem;
  --header-icon-size: 1.5rem;
  --header-side-padding: 4rem;
  --main-content-bg: #cbd5e1;
}

.allContainer {
  min-height: 100vh;
  display: grid;
  grid-template-columns: minmax(200px, 2fr) 7fr;
}

.sideBar {
  background: var(--sidebar-bg);
  grid-area: 1/1/3/2;
  display: grid;
  grid-template-rows: var(--header-height) auto;
}

.logo {
  font-family: "Alfa Slab One", cursive;
  color: var(--logo);
  font-size: 1.7rem;
  justify-self: center;
  align-self: center;
}

.menu {
  color: var(--sidebar-text);
}

/* .menuHeader {
  justify-self: center;
  font-size: 1.5rem;
  padding: 1.5rem;
  text-align: center;
  text-decoration: underline;
} */

.nav {
  width: auto;
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  gap: 50px;
}

.nav ul {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nav ul:first-child {
  margin-top: 40px;
}

.nav li {
  list-style: none;
  display: grid;
  grid-template-columns: 4fr 7fr;
  gap: 22px;
  align-items: center;
}

.nav li i {
  font-size: var(--icon-font-size);
  text-align: end;
}

.nav li span {
  font-size: 1.1rem;
  font-weight: 300;
}

.mainContainer {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
}

.header {
  background: var(--header-bg);
  color: var(--header-text);
}

.header-top-bar {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem 0;
}

.header-top-bar i {
  font-size: var(--header-icon-size);
}

.header-top-bar i:first-child {
  padding-left: var(--header-side-padding);
}

.header-top-bar div:last-child {
  padding-right: var(--header-side-padding);
}

#search {
  margin-right: auto;
}

input[type="search"] {
  appearance: none;
  background: var(--main-content-bg);
  border-radius: 15px;
  height: 1.8rem;
  font-size: 1rem;
  line-height: 1.8rem;
  padding: 0 3ch;
  width: clamp(25ch, 50ch, 50%);
  border: none;
}

.avatar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.avatar-img {
  width: 40px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.avatar span {
  font-size: 1.2rem;
  font-weight: 700;
}
.mainContent {
  background: var(--main-content-bg);
}
/* * {
  border: 1px solid red;
} */
